body{
    text-align: center;
}
#increment-btn{
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}
#decrement-btn{
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: darkred;
    cursor: pointer;
}