body{
    background-image: url(images/blackjack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px;
    margin: 20px;
   
}
h1{
    color:goldenrod;
    font-size: 50px;
}
p{
    color: white;
    font-size: 20px;
}

/* #increment-btn{
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}
#decrement-btn{
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: darkred;
    cursor: pointer;
}
#save-btn{
    padding: 20px;
    font-size: 20px;
    color: black;
    background-color:yellow;
    cursor: pointer;
}
button{
    margin: 4px;
}
span{
    border-bottom: 1px solid black;
}
#sum-el{
    border-bottom: none;
   
} */